---
name: commit
description: Instructions to generate a clear and useful commit message. Use when the user ask a commit message or ask to commit changes.
user-invocable: false
disable-model-invocation: false
---

{{ template "skills/commit.md" (dict "tool" "copilot") -}}
