[alias]
  amend = commit --amend --no-edit
  undo = reset --soft HEAD~1
  ca = commit --all

[core]
  excludesFile = ~/.gitignore
  autocrlf = input

[user]
	name = Clément Vétillard
	email = 84911237+clementvtrd@users.noreply.github.com
	signingkey = {{ .signingkey }}

[push]
  autoSetupRemote = true
  default = simple
  autoSetupRemote = true

[init]
  defaultBranch = main

[commit]
	gpgsign = true

[tag]
	gpgSign = true
